@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}
<div class="container" style="position: absolute; top:100px">
<h1 class="col-md-4 offset-md-2">Roles</h1>

<p>
    <a asp-action="Create" class="col-md-4 offset-md-2">Create New</a>
</p>
    <table class="table col-md-6 offset-md-2" style="border:2px solid black; text-align:center;width:60%">
        <thead style="border:2px solid black; color:white; background-color:orangered">
     <tr>

                <th>
                    <h2>
                        Roles</h2>
                </th>
                <th>
                    <h2>
                        Users
                    </h2>
                </th>
         <th></th>


     </tr>
    </thead>
        <tbody style="border:2px solid black">
@foreach (var role in Model) {
        <tr >
            
            <td>
                @role.Name
            </td>
            <td user-role="@role.Id"></td>
              
            
           
            <td>
                        <a asp-action="Edit" asp-route-id="@role.Id">
                            <i class="bi bi-pencil"></i>
                        </a>|
                        <a class=" confirmDeletion" asp-action="Delete" asp-route-id="@role.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                  
            </td>
        </tr>
}
    </tbody>
</table>
</div>


