@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Users";
}
<div class="container" style="position: absolute; top:100px">
<h1 class="col-md-3 offset-md-2">Users</h1>


<table class="table col-md-6 offset-md-2">
    <thead>
        <tr>
            
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.UserName
            </td>
            <td>
              @item.Email
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>