<section class="sidebar">
	<div id="kt_app_sidebar" class="app-sidebar flex-column "
		 data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle" style="background-color:black">
		<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
		<div class="justify-content" style="display: flex; align-items: center;">	<a asp-controller="Products" asp-action="Index">
				<img style="
            width: 120px; 
            height: auto; 
            display: block;
            margin: 0 auto;
            padding: 10px;
            border: 2px solid #000; 
            border-radius: 10px;/  " src="~/images/metronic.png" />
			</a><p style="color:white;margin-left: 10px;"><strong>Metronic</strong></p>
	  </div>
			<div id="kt_app_sidebar_toggle"
				 class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate "
				 data-kt-toggle="true"
				 data-kt-toggle-state="active"
				 data-kt-toggle-target="body"
				 data-kt-toggle-name="app-sidebar-minimize">
				<i class="ki-duotone ki-black-left-line fs-3 rotate-180"><span class="path1"></span><span class="path2"></span></i>
			</div>
		</div>
		<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
			<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
				<div id="kt_app_sidebar_menu_scroll"
					 class="scroll-y my-5 mx-3"
					 data-kt-scroll="true"
					 data-kt-scroll-activate="true"
					 data-kt-scroll-height="auto"
					 data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
					 data-kt-scroll-wrappers="#kt_app_sidebar_menu"
					 data-kt-scroll-offset="5px"
					 data-kt-scroll-save-state="true">
					<div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
						 id="#kt_app_sidebar_menu"
						 data-kt-menu="true"
						 data-kt-menu-expand="false">
					
								
							<!--end:Menu sub-->
						</div>
				</div>
				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
					<!--begin:Menu link--><span class="menu-link"><a class="menu-title btn btn-light" asp-area="" asp-controller="Products" asp-action="Index" style="text-align:center">Home</a><span class="menu-arrow d-lg-none"></span></span><!--end:Menu link--><!--begin:Menu sub-->
				</div>
				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item  here show">
					<span class="menu-link"><a class="menu-title btn btn-light" asp-area="Admin" asp-controller="Pages" asp-action="Index" style="text-align:center">Pages</a><span class="menu-arrow d-lg-none"></span></span>
					<!--end:Menu sub-->
				</div>
				<!--end:Menu item--><!--begin:Menu item-->
				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
					<!--begin:Menu link--><span class="menu-link"><a class="menu-title btn btn-light" asp-area="Admin" asp-controller="Order" asp-action="Index" style="text-align:center">Orders</a><span class="menu-arrow d-lg-none"></span></span><!--end:Menu link--><!--begin:Menu sub-->
				</div>
						
					</div>
				</div>
			</div>
	</div>
	
	

</section>
